.startseite {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
  
  .logo-large {
    height: 300px;
    margin-bottom: 2rem;
  }
  
  .turnier-form {
    width: 300px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    mat-form-field {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  
  .start-button {
    background-color: #d32f2f;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  